/* Reset CSS */
html,
body,
ul,
li,
h1,
h2,
p,
button,
form,
input {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(to right, #4b4b4b, #000);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

main {
    text-align: center;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

section p {
    font-size: 16px;
    margin-bottom: 20px;
}

button.chamada-acao {
    padding: 15px 30px;
    background: linear-gradient(to right, #ff9147, #ff4500);
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    border: none;
}

button.chamada-acao:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 69, 0, 0.4);
}

@media only screen and (max-width: 600px) {
    button.chamada-acao {
        padding: 10px 20px;
        font-size: 16px;
    }
}

footer {
    background: linear-gradient(to right, #000, #4b4b4b);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.solucao img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para dispositivos menores, como smartphones */
@media only screen and (max-width: 600px) {
    /* Ajustes de estilo para elementos em telas menores */
}

/* Estilos para tablets e telas maiores */
@media only screen and (min-width: 601px) {
    /* Ajustes de estilo para elementos em telas maiores */
}
