/* Reset CSS - Zera estilos padrão */
html, body, ul, li, h1, h2, p, button, form, input {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estilos gerais para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Estilização do container principal */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho (header) */
header {
    background: linear-gradient(to right, #4b4b4b, #000);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para o título principal no cabeçalho */
header h1 {
    font-size: 36px;
}

/* Ajustes para o conteúdo principal */
main {
    text-align: center;
}

/* Estilos gerais para seções */
section {
    padding: 60px 0;
}

/* Estilos para títulos de seção */
section h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

/* Estilos para parágrafos dentro de seções */
section p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para botão de chamada de ação e links */
button.chamada-acao, a.chamada-acao {
    padding: 15px 30px;
    background: linear-gradient(to right, #ff9147, #ff4500);
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    border: none;
    text-decoration: none;
    display: inline-block;
}

/* Efeito hover para botão de chamada de ação e links */
button.chamada-acao:hover, a.chamada-acao:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 69, 0, 0.4);
}

/* Media query para ajustes em dispositivos menores */
@media only screen and (max-width: 600px) {
    button.chamada-acao, a.chamada-acao {
        padding: 10px 20px;
        font-size: 16px;
    }
}

/* Estilos para o rodapé (footer) */
footer {
    background: linear-gradient(to right, #000, #4b4b4b);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para imagens na seção de solução */
.solucao img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Layout dos benefícios em grade */
.beneficios-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilo individual de cada benefício */
.beneficio {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
}

/* Estilo para ícones dos benefícios */
.beneficio img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

/* Media query para dispositivos menores */
@media only screen and (max-width: 600px) {
    .beneficio {
        width: 100%;
    }
}

/* Estilos para as informações adicionais */
.info-box {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

/* Estilos para títulos e links dentro das informações adicionais */
.info-box h3, .info-box h3 a {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Estilos para texto das informações adicionais */
.info-box p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Efeito hover para informações adicionais */
.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Estilos para a logo */
.logo {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

/* Estilos para os campos do formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para rótulos dos campos do formulário */
label {
    margin-bottom: 5px;
}

/* Estilos para campos de entrada do formulário */
input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para botão de submissão do formulário */
button[type="submit"] {
    padding: 12px 20px;
    background-color: #ff9147;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover para botão de submissão do formulário */
button[type="submit"]:hover {
    background-color: #ff4500;
}

/* Estilos para seção de solicitação de demonstração */
.solicitacao-demo {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    max-width: 500px;
    margin: 0 auto;
}

/* Estilo quando o mouse passa por cima do link dentro das informações adicionais */
.info-box h3 a:hover, .info-box h3 a:hover {
    color: #ff6600; /* cor alterada ao passar o mouse */
}

/* Estilo para vídeos responsivos */
.midia video, .midia iframe {
    max-width: 100%;
    height: auto;
}

#meuGraficoContainer {
    width: 100%;
    max-width: 600px; /* Define um tamanho máximo para evitar que o gráfico fique muito grande em telas grandes */
    margin: auto; /* Centraliza o container */
}

body {
    /* Outros estilos */
    background: linear-gradient(to bottom right, #e6e0d5, #979191);
    /* Outros estilos */
}

/* Estilos para o aviso de cookies */
.cookie-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cookie-banner p {
    margin: 0;
}

.cookie-banner button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.cookie-banner button:hover {
    background-color: #ff4500;
}

